.main-container{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-section{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.row{
  display: flex;
  gap: 10px;
  margin-bottom : 10px;
  /* border: 1px solid black; */
}
.col{
  display: flex;
  border: 1px solid;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.selected-seat{
  background-color: green;
  color: white;
}
.disabled-seat{
  background-color: gray;
  pointer-events: none;
}